<%= render partial: "banner", locals: { page_name: "User", page_description: "" } %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="span4 offset4 well">
      <legend>Sign Up</legend>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

        <div class="form-group">
          <%= f.label :email, wrapper_html: { class: 'control-label' } %>
          </br>
          <%= f.input_field :email, required: true, autofocus: true, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password, wrapper_html: { class: 'control-label' } %>
          </br>
          <%= f.input_field :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, wrapper_html: { class: 'control-label' } %>
          </br>
          <%= f.input_field :password_confirmation, required: true, class: 'form-control' %>
        </div>

        <div class="form-actions">
          <button class="btn btn-info btn-block">Sign up</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
